In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
episode = pd.read_csv('input/Episodes.csv')
desc = pd.read_csv('input/Description.csv')

In [3]:
episode[episode['episode_id']=="E69"]["release_date"]

78    2020-05-27
Name: release_date, dtype: object

- If you have listened to that episode, Sanyanam had said he has turned into age of 23. So his DOB is: 27/05/1997

In [16]:
def extract_transcript(fn, save=False, save_path=''):
    "Takes transcript and converts it to `DataFrame`"
    pat = r'([A-Za-z]|\s+)\s([0-9]{0,2}:{0,1}[0-9]{1,2}:[0-9][0-9])'
    f = open(fn, "r")
    t = True
    df = pd.DataFrame(columns = ['Time', 'Speaker', 'Text'])
    i = 0
    first = True
    while t:
        line = f.readline()
        if line == '': t = False
        i += 1
        line = re.split(pat, line[:-1])
        if len(line) == 4:
            is_new = 1
            speak = line[0]
            time = line[2]
        while is_new == 1:
            if first:
                line = f.readline()
                for i in range(6):
                    l_c = f.readline()
                    if speak not in l_c and time not in l_c:
                        line += l_c
                i += 1
                first = False
            else:
                line = f.readline()
                i += 1
            if len(line) > 2 and line != '\n':
                line = line[:-1]
                df.loc[i] = [time, speak, line]
                df.reset_index()
            else:
                is_new = 0
    df.reset_index(drop=True, inplace=True)
    df['Text'] = df['Text'].replace('\n', '')
    if save:
        df.to_csv(save_path+fn.name[:-3] + 'csv', index=False, sep='|')
    return df

In [24]:
def extract_transcript(fn, save=False, save_path=''):
    "Takes transcript and converts it to `DataFrame`"
    pat = r'([A-Za-z]|\s+)\s([0-9]{0,2}:{0,1}[0-9]{1,2}:[0-9][0-9])'
    f = open(fn, "r")
    t = True
    df = pd.DataFrame(columns = ['Time', 'Speaker', 'Text'])
    i = 0
    first = True
    while t:
        line = f.readline()
        print(len(line))
        if line == '': t = False
        i += 1
        line = re.split(pat, line[:-1])
        if len(line) == 4:
            is_new = 1
            speak = line[0]
            time = line[2]
        while is_new == 1:
            if first:
                line = f.readline()
                for i in range(6):
                    l_c = f.readline()
                    if speak not in l_c and time not in l_c:
                        line += l_c
                i += 1
                first = False
            else:
                line = f.readline()
                i += 1
            if len(line) > 2 and line != '\n':
                line = line[:-1]
                df.loc[i] = [time, speak, line]
                df.reset_index()
            else:
                is_new = 0
    df.reset_index(drop=True, inplace=True)
    df['Text'] = df['Text'].replace('\n', '')
    if save:
        df.to_csv(save_path+fn.name[:-3] + 'csv', index=False, sep='|')
    return df

In [7]:
def get_filenames(path):
    dir_name = []
    for f_name in os.listdir(path):
        dir_name.append(f_name)
    return dir_name

In [12]:
li = get_filenames('input/Cleaned Subtitles/')

In [27]:
df = extract_transcript('input/Raw Subtitles/E1.txt')

23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
23
24
24
23
24
23
24
23
24
23
24
23
24
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
25
24
25
24
25
24
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
25
24
0

In [28]:
df.head()

   Time          Speaker                                               Text
0  0:13   Sanyam Bhutani  Hey, this is Sanyam Bhutani and you're listeni...
1  1:49  Abhishek Thakur  Thank you very much for the invitation. It's a...
2  1:53   Sanyam Bhutani  Today, you're the world's only Triple Grandmas...
3  2:12  Abhishek Thakur  Yeah cool story. Data science was never my int...
4  2:41   Sanyam Bhutani  And this was before the boom had happened. And...

In [29]:
episode_1 = pd.read_csv('input/Cleaned Subtitles/E1.csv')
episode_1.head()

   Time          Speaker                                               Text
0  0:13   Sanyam Bhutani  Hey, this is Sanyam Bhutani and you're listeni...
1  1:49  Abhishek Thakur  Thank you very much for the invitation. It's a...
2  1:53   Sanyam Bhutani  Today, you're the world's only Triple Grandmas...
3  2:12  Abhishek Thakur  Yeah cool story. Data science was never my int...
4  2:41   Sanyam Bhutani  And this was before the boom had happened. And...

In [31]:
episode_2 = pd.read_csv('input/Cleaned Subtitles/E2.csv')
episode_2.head()

   Time         Speaker                                               Text
0  0:13  Sanyam Bhutani  Hey, this is Sanyam Bhutani and you're listeni...
1  1:46  Sanyam Bhutani  Hi, everyone, I'm today talking to a very spec...
2  1:57    Ryan Chesler  Yeah, yeah. Thanks for having me. I've seen yo...
3  2:06  Sanyam Bhutani  So I'm really a fan of your write up, the pers...
4  2:32    Ryan Chesler  Yeah, yeah. It really was just looking at YouT...

In [35]:
episode_1['Text'].loc[0]

'Hey, this is Sanyam Bhutani and you\'re listening to "Chai Time Data Science", a podcast for data science enthusiasts, where I interview practitioners, researchers, and Kagglers about their journey, experience, and talk all things about data science.\n\nSanyam Bhutani  0:46  \nHello, and welcome to the first episode. This is also part 26 of interview with machine learning heroes. In this episode, I\'m honored to be joined by Abhishek Thakur, chief data scientist at boost.ai, and also the world\'s first, and at the time of recording, only triple Grand Master on Kaggle. Abhishek has been working as a data scientist for the past few years. He also has a background in computer science with a master\'s degree from the University of Bonn. We talked about his journey into data science, his Kaggle experience and his current projects. Enjoy the show.\n\nSanyam Bhutani  1:38  \nHi, everyone. Thanks for tuning in. I\'m really honored to be talking to the world\'s first triple Grand Master today. Thank you so much for taking the time to do this interview Abhishek.'

In [36]:
episode_n = pd.read_csv('input/Cleaned Subtitles/E75.csv')

In [38]:
intro_n = episode_n['Text'].loc[0]

In [39]:
len(intro_n)

1852

In [41]:
intro_1 = episode_1['Text'].loc[0]
len(intro_1)

1056